<html>
    <head>
    </head>
    <body>
        <form id='login' action="/recommend" method='POST'>
            <div>            
                <label for='title'>Title</label>
                <br>
                <input name='title' required>
            </div>
            <div>
                <label for="abstract">Abstract</label>
                <br>
                <input name='abstract' required>
            </div>
            <div>
                <button type='submit'>Recommend</button>
            </div>
            
        </form>
    </body>
</html>